.choicebutton {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width:20%;
    padding:2%;
    font-size: small;
    background-color: orangered;
    border-radius: 12px;
}

.game{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.roundinp {
    display: flex;
    margin-top: 3%;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#roundsfield{
    width:32px;
}

img {
    max-width: 90%;
    border-radius: 12px;
}

.choicebutton p {
    margin: 0px;
    color:white;
}

#prompt {
    font-style:italic;
    align-self: flex-start;
}

ul {
    align-self: flex-start;
    list-style-type: none;
    padding: 0;
}

.heading{
    color: orangered;
}

body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-family: sans-serif;
    background-color: aquamarine;
}